django>=2.0.11
djangorestframework>=3.9.1
django-cors-headers==2.1.0
django-filter==1.1.0
lxml==4.6.3
numpy==1.15.2
django-heroku
gunicorn
urllib3>=1.24.2
XlsxWriter==1.1.2
requests==2.22.0
python-dateutil==2.5.0