
{% block comeback %}
    <h2> <li><a href='/'>Volver al menú </a></li> </h2>
{% endblock comeback %}
    

{% block content %}
    <h2>Titulares</h2>
    <ul>
        {% for elem in lista %}
                <li><h4>{{elem.titulo}}</h4></li>
                - Numero de comentarios: {{elem.comentarios}}
                <p>
                    <a href={{elem.link}}>Enlace al diario</a>
                </p>
                <a href="/recomiendaId/{{elem.idNoticia}}">Noticias relacionadas</a>
                <p> ______________________________________________________________________________________________________________________________ </p>
        {% endfor %}          
    </ul>
{% endblock %}