
{% block comeback %}
    <h2> <li><a href='/'>Volver al menú </a></li> </h2>
{% endblock comeback %}

{% block add_movie %}
    <form method="GET"> {% csrf_token %} 
    {{form.as_p}}
        <input type="submit" value="Search"  />
    </form>
{% endblock add_movie %}

{% block content %}
    <h2>Coincidencias</h2>
    <ul>
        {% for elem in lista %}
                <li><h4>{{elem.titulo}}</h4></li>
                <li>Numero de comentarios: {{elem.comentarios}}</li>
                <p>
                    <li><a href={{elem.link}}>Enlace al diario</a></li>
                </p>
                <p> ______________________________________________________________________________________________________________________________ </p>
        {% endfor %}          
    </ul>
{% endblock %}